*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.Login {
    border: #ffff00;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #3B5249; */
    padding: 30px;
  }

.LoginBox {
    border: #ff0000;
    border-style: solid;
    border-width: 5px;
    /* display: grid; */
    text-align: center;
    margin: auto;
    height: 220px;
    width: 400px;
    /* background-color: #3B5249; */
    padding-bottom: 50px;
  }

  .LoginButton{
    width: 180px;
    margin:auto;
  }

@font-face {
    font-family: AbrilFatface-Regular;
    src: url(./fonts/AbrilFatface-Regular.ttf);
  }
  
  .Title {
    border: #ff00ff;
    border-style: solid;
    border-width: 5px;
    /* color: #BEC5AD; */
    color: #282c34;
    font-size: 80px;
    font-family: AbrilFatface-Regular;
  }

  .text {
    color: #000;
  }

  .padding {
    background-color: #00ff00;
    /* border-style: solid;
    border-width: 5px; */
    height: 5px;
  }

  body {
    /* background-color: #282c34; */
    border: #ff0000;
    border-width: 50px;
    display: flex;
    align-items: center;
    color: #000000;
    font-family: Arial;
    text-align: left;
  }

  li {
    float: left;
    display: block;
    padding: 8px;
    /* background-color: #282c34; */
  }
  
  a {
    border: #000000;
    border-style: solid;
    border-width: 5px;
    display: block;
    padding: 8px;
    /* background-color: #3B5249; */
  }

  ul {
    border: #ffffff;
    border-style: solid;
    border-width: 5px;
    /* background-color: #BEC5AD; */
    background-color: #3B5249
  }

  colors{
    color: #3B5249;
    color: #0b6c47;
    color: #282c34;
    color: #007279;
    color: #000;
  }

  .navBar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }

  .navBar .links {
    margin-left: auto;
  }

  .navBar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navBar a:hover {
    color: #f1356d;
  }